<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Articles</title>
</head>
<body>
    <div class = "navbar-fixed">
        <nav class = "teal lighten-2">
        <div class="nav-wrapper">
            <a href="/articles" class="brand-logo center"> Articles</a>
              <a href = "/article/new"><button id="newArticle" class="waves-effect waves-light btn-small" name="article">New Article</button></a>
        <a href = "/random"><button id="newArticle" class="waves-effect waves-light btn-small" name="article">Random Article</button></a>
        </div>
        </nav>
    </div>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src = "/javascript/app.js"></script>
</body>
</html>
